.dashboard-main .card-main {
    min-height: 200px;
    max-height: 400px;
}

.dashboard-main .police-svg {
    display: flex;
    justify-content: center;
}

.dashboard-main .police-svg img[alt="Police"] {
    width: 300px;
    margin: 0 2rem 0 3rem;
}

.dashboard-main .description {
    max-width: 500px;
    font-size: 10px;
    color: rgba(0, 0, 0, .8);
}

@media screen and (width > 992px) {
    .dashboard-main .description {
        font-size: 12px;
    }
}